# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea cache
.idea

# Ignore macos file
.DS_Store

# generated dockerfiles
zookeeper.dockerfile
broker.dockerfile
app.dockerfile
spark.dockerfile
deps.dockerfile
worker.dockerfile
# we don't put binary file to git repo
gradle-wrapper.jar
VersionUtils.java