# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: PreCommit

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'
      - name: build
        run: ./gradlew clean build testClasses -x test --no-daemon
      - name: unit tests
        run: ./gradlew clean test --no-daemon --console plain -PmaxParallelForks=3 --continue